   <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li><%= icon('facebook') %></li>
            <li><%= icon('youtube') %></li>
            <li><%= icon('twitter') %></li>
            <li><%= icon('instagram') %></li>
            <li><%= icon('envelope-o') %></li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
        <p><%= link_to 'About us' %> | <%= link_to 'How It Works' %> | <%= link_to 'Terms & Conditions' %> | <%= link_to 'Help' %></p>
        </div>
      </div>
    </div>
  </div>
